@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.woff2") format("woff2");
  font-display: swap;
}

/* 正文使用 NotoSans */
html[lang="en"] body {
  font-family: "NotoSans", system-ui, sans-serif;
}

/* 代码块等元素强制不继承字体，回退用默认等宽体 */
html[lang="en"] pre,
html[lang="en"] code,
html[lang="en"] kbd,
html[lang="en"] samp,
html[lang="en"] .highlight,
html[lang="en"] .highlight code,
html[lang="en"] code[class*="language-"] {
  font-family: JetBrainsMono, Menlo, monospace !important;
}
